.cardsComponent {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 24px 24px 40px 24px;
  text-align: center;
  width: 1300px;
      border: 1px solid #E1E1E1;
      margin-bottom: 10px;
}
.CanvasSection {
  display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .a_a_cb6f7c2e:not(.e_a_cb6f7c2e) .h_a_cb6f7c2e {
        display: flex;
        max-width: 1200px !important;
    }
}
.title {
  font-size: 24px;
  margin-bottom: 8px;
  title: #000000;
   font-family: Calibri;
   font-weight: 700;
}

.intro {
      color: #000;
    font-family: Calibri;
    font-size: 18px;
    margin-bottom: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 2 4 / 24%);
  padding: 24px;
  width: 300px;
  text-align: center;
}

.iconContainer {
  background-color: #e8f5e9;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0 auto 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  max-width: 24px;
  max-height: 24px;
}

.cardTitle {
  color: #000 !important;
  font-size: 18px;
  margin-bottom: 8px;
   font-family: Calibri;
}

.cardDescription {
    color: #000;
    font-family: Calibri;
    font-size: 16px;
    line-height: 20px;
}